<html>
    <head>
        <title>Code</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="<%= url %>/static/css">
    </head>
    <body>
        <h1>Your code was generated successfully</h1>
        <p>Go to <a href=<%= url %>><span><%= url %></span></a> endpoint, put it in the blank space and press <span>Access</span></p>

        <p>Your code is: <span><%= code %></span></p>
    </body>
</html>