<html>
    <head>
        <title>List of Endpoints</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="<%= url %>/static/css">
    </head>
    <body>
        <p>Your IP: <%= ip %></p>
        <p>Your access code: <%= code %></p>
    </body>
</html>